<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div>

  <form>
    <div class="form-group col-lg-5">
      <input type="text" class="form-control form-control-lg control-label" name="Description" placeholder="Item Description" [(ngModel)]="item.Description"/>
    </div>
    <div class="form-group col-lg-5">
      <input type="text" class="form-control form-control-lg control-label"name="Cost" placeholder="Cost of Items" [(ngModel)]="item.Cost"/>

    </div>
    <div class="form-group col-3">
      <button class="btn btn-success" (click)="addItem()">Add Item</button>
    </div>
  </form>
  <div class="search-hero col-lg-6">
    <input class="form-control glyphicon" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Start searching for an item of your choice!!">

  </div>
  <br>
  <div class="col-lg-6">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>Item Description</th>
        <th>Item Cost($)</th>
        <th>Edit Item</th>
        <th>Delete Item</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of itemlist | filter:searchText">
        <td>{{item.Description}}</td>
        <td>{{item.Cost}}</td>
        <td>
          <button class="btn btn-sm btn-primary" (click)="editItem(itemlist._id)">Edit</button>
        </td>
        <td>
          <button class="btn btn-sm btn-danger" (click)="deleteItem()">Delete</button>
        </td>

      </tr>
      </tbody>
    </table>
  </div>
</div>
